{% extends 'base.html.twig' %}

{% block sub_menu %}

    {% include('tools/_menu.html.twig') %}

    {% include('tools/character/_menu.html.twig') %}

{% endblock %}

{% block title %}{{ character.id ? 'Modifier' : 'Créer' }} un personnage{% endblock %}

{% block body %}

    {% set random_route = path('app_character_random') %}

    <h1>{{ character.id ? 'Modifier un' : 'Créer le' }}
        personnage {{ character.firstname }} {{ character.lastname }}</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-xs-3"> {{ form_row(form.firstname) }} </div>
        <div class="col-xs-3"> {{ form_row(form.lastname) }} </div>
        <div class="col-xs-2"> {{ form_row(form.age) }} </div>
        <div class="row col-xs-1">
            <div id="random_age" class="btn btn-warning" data-api="{{ random_route }}"><i class="fas fa-dice"></i></div>
            <div id="lock_age" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
        <div class="col-xs-2">{{ form_row(form.sex) }} </div>
        <div class="row col-xs-1">
            <div id="random_sex" class="btn btn-warning" data-api="{{ random_route }}"><i class="fas fa-dice"></i></div>
            <div id="lock_sex" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"> {{ form_row(form.morphology) }} </div>
        <div class="row col-xs-1">
            <div id="random_morphology" class="btn btn-warning" data-api="{{ random_route }}"><i
                        class="fas fa-dice"></i></div>
            <div id="lock_morphology" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
        <div class="col-xs-2"> {{ form_row(form.personality) }} </div>
        <div class="row col-xs-1">
            <div id="random_personality" class="btn btn-warning" data-api="{{ random_route }}"><i
                        class="fas fa-dice"></i></div>
            <div id="lock_personality" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
        <div class="col-xs-2"> {{ form_row(form.particularities) }} </div>
        <div class="row col-xs-1">
            <div id="random_particularities" class="btn btn-warning" data-api="{{ random_route }}"><i
                        class="fas fa-dice"></i></div>
            <div id="lock_particularities" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
        <div class="col-xs-2"> {{ form_row(form.liabilities) }} </div>
        <div class="row col-xs-1">
            <div id="random_liabilities" class="btn btn-warning" data-api="{{ random_route }}"><i
                        class="fas fa-dice"></i></div>
            <div id="lock_liabilities" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"> {{ form_row(form.universe) }} </div>
        <div class="col-xs-2"> {{ form_row(form.ethnic) }} </div>
        <div class="row col-xs-1">
            <div id="random_ethnic" class="btn btn-warning" data-api="{{ random_route }}"><i class="fas fa-dice"></i>
            </div>
            <div id="lock_ethnic" class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ character.id ? 'Modifier' : 'Créer' }}</button>
    <a href="{{ path('app_character_config') }}"
       class="btn btn-primary">Annuler</a>
    <div id="random_all" data-api="{{ random_route }}" class="btn btn-warning">Aléatoire</div>
    {{ form_end(form) }}

{% endblock %}